{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить цитату - Quote Shooter</title>
    <link rel="stylesheet" href="{% static 'quoter/css/styles.css' %}">
</head>
<body class="add">
    <div class="container">
        <h1>Добавить новую цитату 🚀</h1>
        <form method="post">
            {% csrf_token %}

            {% for field in form %}
                <div class="field">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.help_text %}
                        <small>{{ field.help_text }}</small>
                    {% endif %}
                </div>
            {% endfor %}


            <button type="submit" class="btn">Сохранить</button>

            {% if form.errors %}
                <div class="all-errors">
                    <ul class="errorlist">
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </form>


        <a href="{% url 'home' %}" class="back-link">← Вернуться на главную</a>
    </div>
</body>
</html>
