# Python
*.py[cod]   
__pycache__/
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
*.manifest
*.spec

# Virtual Environment
venv/
env/
ENV/
.venv/
.python-version

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/


# Migrations
**/migrations/__pycache__/
**/migrations/*.py[cod]
**/migrations/[!__init__]*.py

# IDE / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.bak
*.tmp

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac
.DS_Store

# Test / Coverage
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Environment files
*.env
